<section id="tg-schedule" class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="tg-eventconfrences">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tg-headholder">
            <div class="tg-sectionhead tg-textalignleft">
              <div class="tg-sectionheading">
                <span>Don’t forget to attend</span>
                <h2>Event</h2>
              </div>
            </div>
          </div>
          <div class="tg-eventscheduletabs">
            <ul class="tg-eventschedulenav" role="tablist">
              <li role="presentation" class="active"><a href="#day-one" aria-controls="day-one" role="tab" data-toggle="tab">Day 01<span>May 02, 2018</span></a></li>
              <li role="presentation"><a href="#day-two" aria-controls="day-two" role="tab" data-toggle="tab">Day 02<span>May 03, 2018</span></a></li>
              <li role="presentation"><a href="#day-three" aria-controls="day-three" role="tab" data-toggle="tab">Day 03<span>May 04, 2018</span></a></li>
            </ul>
            <div class="tg-eventschedulecontent tab-content">
              <div role="tabpanel" class="tab-pane active" id="day-one">
                <div class="tg-eventschaduletime">
                  <h2>Day 01 full schedule</h2>
                  <h3>May 02, 2018 @ 08:30 - 18:30</h3>
                </div>
                <div class="tg-eventvenuetabs">
                  <div class="tg-eventvenuecontent tab-content">
                    <figure class="tg-hallimg">
                      <%= image_tag "foto1.jpg", alt: "Orla de Fortaleza" %>
                    </figure>
                    <div role="tabpanel" class="tab-pane active" id="hall-one">
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">08:30 - 10:00</time>
                            <div class="tg-title">
                              <h2>Abertura &amp; Sessão Técnica 01: Agentes Embarcados</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>24 - Transporte de Agentes Cognitivos entre SMA Distintos Inspirado nos Princípios das Relações Ecológicas.</p>
                          <p>25 - Explorando a Comunicação entre Sistemas Multi-Agentes Embarcados em Ambientes Inteligentes para IoT: Uma Proposta de Laboratório.</p>
                          <p>23 - Simulador de NoCs modelado como um SMA.</p>
                          <p>13- Agente Inteligente Embarcado baseado em Sistemas Ciberfísicos no contexto da Indústria 4.0.</p>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">10:00 - 10:30</time>
                            <div class="tg-title">
                              <h2>Break</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">10:30 - 12:30</time>
                            <div class="tg-title">
                              <h2>Palestra Dr. Mario Paolucci</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">12:30 - 14:00</time>
                            <div class="tg-title">
                              <h2>Almoço</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">14:00 - 15:00</time>
                            <div class="tg-title">
                              <h2>Sessão Técnica 02: Modelos e Metodologias</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>06 - Um modelo de Multiagentes Normativos para Descrição de Personagens de Jogos Sérios.</P>
                          <p>01 - Elementary Economic Systems in Material Agent Societies.</p>
                          <p>09 - Composição de Técnicas de Inteligência Artificial em uma Arquitetura Multinı́vel para Emergência de Comportamentos em Agentes Cooperativos.</p>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">15:00 - 16:20</time>
                            <div class="tg-title">
                              <h2>Sessão Técnica 03: Aplicação e Simulação</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>18 - Análise de Dilemas em Natyasastra: Um Sistema de Resolução Dramática para Autorregulação de Processos de Trocas Sociais em Sistemas Multiagentes.</p>
                          <p>19 - Segregação Racial e Valorização do Território: uma modelagem baseada em agentes.</p>
                          <p>12 - Epidemiologia: Compreensão da Dinâmica das Doenças e  Emergência através da Modelagem.</p>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">16:20 - 16:50</time>
                            <div class="tg-title">
                              <h2>Break</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">17:00 - 18:30</time>
                            <div class="tg-title">
                              <h2>Sessão Técnica 04: Modelos e Metodologias</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>27 - Um Agente Autônomo Concorrente para o Manipulador Robótico Jaco Kinova.</p>
                          <p>04 - Especificação de Casos de Uso para a Modelagem de Requisitos de Sistemas Multiagente Normativos.</p>
                          <p>16 - Modelo de Fusão de Dados com Incerteza para Consciência Situacional.</p>
                          <p>26 - Um modelo para simulação de formação de membranas e micelas.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabepanel" class="tab-pane" id="day-two">
                <div class="tg-eventschaduletime">
                  <h2>Day 02 full schedule</h2>
                  <h3>May 03, 2018 @ 08:30 - 18:30</h3>
                </div>
                <div class="tg-eventvenuetabs">
                  <div class="tg-eventvenuecontent tab-content">
                    <figure class="tg-hallimg">
                      <%= image_tag "foto2.jpg", alt: "Praia de Jericoacoara" %>
                    </figure>
                    <div role="tabpanel" class="tab-pane active" id="hall-one">
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-03">08:30 - 10:00</time>
                            <div class="tg-title">
                              <h2>Oficina 01 - Dr. Paulo Popov Zambiasi</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-03">10:00 - 10:30</time>
                            <div class="tg-title">
                              <h2>Break</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-03">10:30 - 12:30</time>
                            <div class="tg-title">
                              <h2>Oficia 01: - Dr. Paulo Popov Zambiasi</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-03">12:30 - 14:00</time>
                            <div class="tg-title">
                              <h2>Almoço</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-03">14:00 - 15:00</time>
                            <div class="tg-title">
                              <h2>Sessão Técnica 05: Aplicações e Simulação</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>17 - Intelligent agent applied to digital games.</p>
                          <p>22 - Using agent-based artificial financial market to analyse market manipulation.</p>
                          <p>28 - Proposta de modelo de autorrecuperação de sistemas de distribuição de energia elétrica utilizando sistemas multiagente.</P>                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-03">15:00 - 16:20</time>
                            <div class="tg-title">
                              <h2>Sessão Técnica 06: Aplicações e Simulação</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>20 - Aplicando árvore de decisão para a localização de padrões no modelo Sugarscape do NetLogo.</P>
                          <p>30 - Modelo de Raciocínio e Protocolo de Negociação para um Estacionamento Inteligente com Mecanismo de Negociação Descentralizado.</p>
                          <p>15 - Developing a smart parking solution based on a Holonic Multiagent System using JaCaMo Framework.</p>
                          <p>10 - Impacto da Confiança em Simulação Baseada em Agentes para Cadeias de Suprimentos.</p>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-03">16:20 - 16:50</time>
                            <div class="tg-title">
                              <h2>Break</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-03">17:00 - 18:30</time>
                            <div class="tg-title">
                              <h2>Sessão short 01</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>08 - Propagação e Tratamento do Câncer Pulmonar analisado por Simulação Multiagente.</p>
                          <p>07 - Modelagem do Ritmo Circadiano utilizando Sistemas Multiagente: um estudo de caso da influência da dor.</p>
                          <p>31 - Interpretação de imagens como tarefa cognitiva: uma abordagem inicial com redes neurais de aprendizagem profunda.</p>
                          <p>29 - Acesso Inteligente: Uma porta capaz de aprender.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabepanel" class="tab-pane" id="day-three">
                <div class="tg-eventschaduletime">
                  <h2>Day 03 full schedule</h2>
                  <h3>May 04, 2018 @ 08:30 - 18:30</h3>
                </div>
                <div class="tg-eventvenuetabs">
                  <div class="tg-eventvenuecontent tab-content">
                    <figure class="tg-hallimg">
                      <%= image_tag "foto3.jpg", alt: "Estátua de Iracema, beira mar." %>
                    </figure>
                    <div role="tabpanel" class="tab-pane active" id="hall-one">
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-04">08:30 - 10:00</time>
                            <div class="tg-title">
                              <h2>Oficina 02 - Dr. Jaime Sichman</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-04">10:00 - 10:30</time>
                            <div class="tg-title">
                              <h2>Break</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-04">10:30 - 12:30</time>
                            <div class="tg-title">
                              <h2>Oficina 02 - Dr. Jaime Sichman</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-02">12:30 - 14:00</time>
                            <div class="tg-title">
                              <h2>Almoço</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-04">14:00 - 15:00</time>
                            <div class="tg-title">
                              <h2>Sessão Técnica 07: Agentes e Normas</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>03 - Uma Proposta de Mapeamento entre i* Normativo e o Diagrama NorMAS-ML de Normas.</p>
                          <p>05 - An Agent-Based Model for Normative Hierarchical Organizations considering Goal Decomposition Process.</p>
                          <p>14- Avaliação da testabilidade do modelo organizacional Moise baseado em Redes de Petri.</p>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-04">15:00 - 16:20</time>
                            <div class="tg-title">
                              <h2>Palestra Dr. José Vasco Furtado</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event tg-eventbreak">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-04">16:20 - 16:50</time>
                            <div class="tg-title">
                              <h2>Break</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tg-event">
                        <div class="tg-eventhead">
                          <div class="tg-leftarea">
                            <time datetime="2018-05-04">17:00 - 18:30</time>
                            <div class="tg-title">
                              <h2>Sessão short 02</h2>
                            </div>
                          </div>
                        </div>
                        <div class="tg-description">
                          <p>02 - Vírus na rede: Elaboração de Políticas de Segurança Virtual Baseadas em Sistemas Multiagentes.</p>
                          <p>11 - Sistemas Multiagente como Ferramenta para Desenvolvimento do Pensamento Computacional.</p>
                          <p>21 - Um Programa de Agente capaz de Buscar Localmente Soluções em Espaços de Estados de Problemas Bem Definidos.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
