<header id="tg-header" class="tg-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <strong class="tg-logo">
          <%= link_to root_path do %>
          <%= image_tag "logo2.png", alt: "Conference logo" %>
          <% end %>
        </strong>
        <div class="tg-navigationarea">
          <!-- <a id="tg-btnopenclose" class="tg-btnopenclose" href="javascript:void(0);"><i class="icon-menu"></i></a> -->
          <nav id="tg-nav" class="tg-nav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
              <ul>
                <li class="tg-active menu-item-has-children">
                  <a href="#body">Home</a>
                </li>
                <li><a href="#tg-main">About</a></li>
                <li><a href="#papers">Papers</a></li>
                <li><a href="#important-dates">Important Dates</a></li>
                <li><a href="#committees">Committees</a></li>
                <li><a href="#tg-schedule">Schedule</a></li>
                <li><a href="#tg-speakers">Speakers</a></li>
                <!-- <li><a href="#tg-price">Price</a></li> -->
                <li><a href="#tg-sponsers">Sponsors</a></li>
                <li><a href="#tg-venue">Venue</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!--************************************
    Header End
*************************************-->

<div id="" class="page-title tg-homebanner tg-haslayout">
  <figure class="tg-themepostimg">
    <img src="images/banner/img-03.jpg" alt="image description">
    <figcaption>
      <h1>INFO</h1>
    </figcaption>
  </figure>
</div>

<!--************************************
    Main Start
*************************************-->
<main id="" class="tg-main tg-haslayout">
  <!--************************************
      Brands Start
  *************************************-->
  <section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
            <div class="tg-sectionheading">
              <span>A logo do Pedro é melhor</span>
              <h2>Motivation</h2>
            </div>
            <div class="tg-description">
              <p>Many current computational systems no longer depend on human intervention
              to operate in complex dynamic environments. Some of the key features that
              allow such systems to operate autonomously include the ability to make
              rational decisions and to react to changes in a timely way. In that
              respect, agent systems and multi-agent environments provide a computing
              paradigm that supports the development of intelligent systems that are able
              to cope with the complexities associated with such dynamic scenarios.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
            <div class="tg-sectionheading">
              <span>A logo do Pedro é melhor</span>
              <h2>Aims</h2>
            </div>
            <div class="tg-description">
              <p>The area of agent-based systems is widely known and has numerous papers
              published internationally every year. However, nationally there are few
              events in this area and no other national event also provides tutorials and
              short courses specifically on the main topics of research within Autonomous
              Agents and Multi-Agent Systems. WESAAC is therefore of great importance as
              a national event in this area, aiming to both prepare future generations of
              Brazilian researchers and to disseminate the current projects of Brazilian
              researchers. WESAAC aims to be a forum for the discussion of work at all
              levels, including undergraduate, MSc, and PhD projects currently being
              conducted. Fundamentally, WESAAC is the best opportunity for Brazilian
              undergraduate and specially graduate students to attend courses by some
              of the most prominent researchers working in this area throughout the world.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="topics" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
            <div class="tg-sectionheading">
              <span>A logo do Pedro é melhor</span>
              <h2>Topics of Interest</h2>
            </div>
            <div class="tg-description">
              <p>Papers submitted to the event should address topics related to autonomous
              agents or multi-agent systems, such as (but not restricted to):
                <ul>
                  <li>Agent architectures and theories (BDI, belief revision, automated
                  reasoning)</li>
                  <li>Cooperation/coordination (negotiation, argumentation, reputation)</li>
                  <li>Agent-based software development (programming languages, platforms,
                  tools, methodologies)</li>
                  <li>Agent organizations, societal issues, normative systems, etc.</li>
                  <li>Agent communication</li>
                  <li>Social simulations and agent-based simulation</li>
                  <li>(Formal) specification and verification of multi-agent systems</li>
                  <li>Machine learning and automated planning in agent systems</li>
                  <li>Applications of agents and multi-agent systems</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section  class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
            <div class="tg-sectionheading">
              <span>A logo do Pedro é melhor</span>
              <h2>Paper Submission</h2>
            </div>
            <div class="tg-description">
              <p>Researchers and students are invited to submit papers in Portuguese or
              English, as a PDF file formatted according to the SBC style (compulsory)
              available at &lt; http://www.sbc.org.br/documentos-da- sbc/summary/169-templates- para-
              artigos-e- capitulos-de- livros/878-modelosparapublicaodeartigos &gt;.
              The proceedings are published electronically. Three separate
              tracks have been created for paper submission: (i) full papers, (ii) short
              papers (i.e., extended abstracts), and (iii) short papers written by
              *undergraduate* students.
              Full papers, reporting work with solid results, must have no more than 12
              pages and will be presented orally in a plenary session. Short papers,
              reporting ongoing work or position papers, must have between 4 and 6 pages
              and will be presented in poster sessions.
              Papers must be submitted through EasyChair
              https://easychair.org/cfp/wesaac2018
              For any doubts, please email in Menu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Brands End
  *************************************-->
</main>
<!--************************************
    Main End
*************************************-->
