<!--************************************
    Packages Start
*************************************-->
<section id="tg-price" class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="tg-sectionhead">
          <div class="tg-sectionheading">
            <h2>Taxa de inscrição</h2>
          </div>
          <div class="tg-description">
            <p>Confira a seguir as categorias de inscrição.</p>
          </div>
        </div>
      </div>
      <div class="tg-packages">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="tg-package tg-basicplan">
            <div class="tg-packagehead">
              <figure class="tg-themepostimg">
                <img src="images/packages/img-01.jpg" alt="image description">
                <figcaption class="tg-packagedetail">
                  <h3>Graduação</h3>
                  <h4>
                    <sub>R$</sub>
                    <span>80</span>
                    <em>Alunos de graduação</em>
                  </h4>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="tg-package tg-businessplan">
            <div class="tg-packagehead">
              <figure class="tg-themepostimg">
                <img src="images/packages/img-03.jpg" alt="image description">
                <figcaption class="tg-packagedetail">
                  <h3>Pós Graduação</h3>
                  <h4>
                    <sub>R$</sub>
                    <span>120</span>
                    <em>Alunos de pós graduação</em>
                  </h4>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="tg-package tg-companyplan">
            <div class="tg-packagehead">
              <figure class="tg-themepostimg">
                <img src="images/packages/img-04.jpg" alt="image description">
                <figcaption class="tg-packagedetail">
                  <h3>Profissional</h3>
                  <h4>
                    <sub>R$</sub>
                    <span>160</span>
                    <em>Para profissionais</em>
                  </h4>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="tg-description text-center">
        <p>O formulário de inscrição estará disponível em breve.</p>
      </div>
    </div>
    <div class="row hide">
      <form class="" action="" method="post">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" name="name" placeholder="Seu nome" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="cpf">CPF</label>
          <input type="text" name="cpf" placeholder="CPF" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="institution">Instituição</label>
          <input type="text" name="institution" placeholder="Instituição" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="email">E-mail</label>
          <input type="email" name="email" placeholder="E-mail" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="celular">Celular</label>
          <input type="text" name="celular" placeholder="Celular" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="endereco">Endereço</label>
          <input id="endereco" type="text" name="endereco" placeholder="Endereço" class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="tipo-inscricao">Tipo de inscrição</label>
          <select class="form-control" name="subscription">
            <option value="profissional">Profissional</option>
            <option value="graduacao">Aluno da Graduação</option>
            <option value="posgraduacao">Aluno da Pós-Graduação</option>
            <option value="alunoufal">Aluno da UFAL</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="">Enviar</label>
          <input type="submit" value="Enviar" class="btn btn-default form-control">
        </div>
      </form>
    </div>

  </div>
</section>
<!--************************************
    Packages End
*************************************-->
