<div id="" class="page-title tg-homebanner tg-haslayout">
  <figure class="tg-themepostimg">
    <img src="images/banner/bg-speaker.jpg" alt="image description">
    <figcaption>
      <h1>Speakers</h1>
    </figcaption>
  </figure>
</div>

<!--************************************
    Main Start
*************************************-->
<main id="" class="tg-main tg-haslayout">
  <!--************************************
      Speakers Start
  *************************************-->
  <section id="tg-committees" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="tg-section-committee">
        <div class="tg-sectionheading">
          <h2>Meet the speakers</h2>
        </div>
        <div class="tg-description">
          <!-- <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamcoaris nisi ut aliquipa ex ea commodo consequat aute irure.</p> -->
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="tg-event">
              <div class="tg-eventhead">
                <div class="tg-leftarea">
                  <div class="tg-title">
                    <h2>Mario Paolucci</h2>
                  </div>
                </div>
              </div>
              <div class="tg-description">
                <p>
                  PhD in Telematics and Information Society (2005), is the co-director of the Laboratory of Agent Based Social Simulation (LABSS) within the Institute of Cognitive Sciences and Technologies at the Italian National Research Council (ISTC-CNR). He has worked as Technology Expert at the National Statistics Institute of Italy from 1996 to 2003, and as researcher at CNR from 2003. He is studying and applying multiagent-based social simulation and agent theory to understand social artifacts, in particular Reputation, Norms, Responsibility, and the cultural evolutionary mechanisms that support them. His publications include a book on reputation with Rosaria Conte and articles on JASSS and Adaptive Behavior, the International Journal of Cooperative Information Systems, the International Journal of Approximated Reasoning. He has been the coordinator of the CNR workgroup on Artificial Societies and Social Simulation (ICT.P11.014) from 2009 to 2016. Since 2017 he is the coordinator of the CNR project “Cognitive Agents and Social Simulation” (DUS.AD018.003). He is the coordinator of the FuturICT 2.0 project, and he has been the scientific coordinator of the eRep Social Knowledge for e-Governance FP6 project, managing four international partners.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="tg-event">
              <div class="tg-eventhead">
                <div class="tg-leftarea">
                  <div class="tg-title">
                    <h2>Vasco Furtado</h2>
                  </div>
                </div>
              </div>
              <div class="tg-description">
                <p>
                  O professor Vasco Furtado é atualmente Diretor de Pesquisa e Inovação da Universidade de Fortaleza onde leciona há mais de 25 anos. Ele fez seu doutorado (1997) na Universidade de Aix-Marseille III, França e pós-doutorado (2007) no Laboratório de Sistemas de Conhecimento em Stanford, Califórnia, EUA. Furtado já escreveu mais de 150 artigos científicos em computação com ênfase em Inteligência Artificial, atuando principalmente nos seguintes temas: simulação multiagente, web semântica, aprendizagem automática e mineração de dados. Tem aplicado suas pesquisas na área de Segurança Pública e Cidades Inteligentes. Além da experiência acadêmica tem vasta experiência no setor público onde atuou como Diretor de Tecnologia da Secretaria de Segurança Pública do Estado do Ceará (1997-2004) e, mais recentemente (2013-2016), como vice-presidente e depois presidente da Fundação de Ciência, Tecnologia e Inovação de Fortaleza (CITINOVA). É atualmente pesquisador 2 do CNPq e membro do Fórum Brasileiro de Segurança Pública.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="tg-event">
              <div class="tg-eventhead">
                <div class="tg-leftarea">
                  <div class="tg-title">
                    <h2>Saulo Popov Zambiasi</h2>
                  </div>
                </div>
              </div>
              <div class="tg-description">
                <p>
                  Possui graduação em Ciência da Computação pela Universidade do Oeste de Santa Catarina - Campus de Chapecó (1998), mestrado em Ciências da Computação pela Universidade Federal de Santa Catarina (2002) e doutorado em Engenharia de Automação e Sistemas pela Universidade Federal de Santa Catarina (2012). Atualmente é pesquisador da Universidade Federal de Santa Catarina e professor titular da Universidade do Sul de Santa Catarina. Tem experiência na área de Ciência da Computação, com ênfase em Jogos Digitais, atuando principalmente nos seguintes temas: sistemas multi-agentes, inteligência artificial distribuída e inteligência artificial. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="tg-event">
              <div class="tg-eventhead">
                <div class="tg-leftarea">
                  <span>A confirmar</span>
                  <div class="tg-title">
                    <h2>Viviane Torres da Silva</h2>
                  </div>
                </div>
              </div>
              <div class="tg-description">
                <p>
                  Possui graduação em Engenharia de Computação pela Pontifícia Universidade Católica do Rio de Janeiro (1998), mestrado em Informática pela Pontifícia Universidade Católica do Rio de Janeiro (2000) e doutorado em Informática pela Pontifícia Universidade Católica do Rio de Janeiro (2004). Durante o período de 03/2006 a 09/2008 foi pesquisadora contratada da Universidade Complutense de Madrid e durante o período de 10/2008 a 01/2009 foi pesquisadora da Pontifícia Universidade Católica do Rio de Janeiro. É professora adjunta da Universidade Federal Fluminense (em licença). De janeiro de 2015 a setembro de 2015 foi pós-doc na IBM Research Brasil. Em novembro de 2015 foi contratada pela IBM Research. Tem experiência na área de Ciência da Computação, com ênfase em Engenharia de Software, atuando principalmente nos seguintes temas: sistemas multi-agentes, modelagem, frameworks, padrões de projeto.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Speakers End
  *************************************-->
  <!--************************************
      Brands Start
  *************************************-->
  <section id="tg-sponsers" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="tg-brands">
            <li class="tg-brand">
              <figure><a href="http://uece.br" target="_blank"><img src="images/brands/uece.png" alt="image description"></a></figure>
            </li>
            <li class="tg-brand">
              <figure><a href="http://ufsc.br/" target="_blank"><img src="images/brands/ufsc.png" alt="image description"></a></figure>
            </li>
            <li class="tg-brand">
              <figure><a href="https://unifor.br" target="_blank"><img src="images/brands/unifor2.png" alt="image description"></a></figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Brands End
  *************************************-->
</main>
<!--************************************
    Main End
*************************************-->
