<div id="" class="page-title tg-homebanner tg-haslayout">
  <figure class="tg-themepostimg">
    <img src="images/banner/bg-speaker.jpg" alt="image description">
    <figcaption>
      <h1>Speakers</h1>
    </figcaption>
  </figure>
</div>

<!--************************************
    Main Start
*************************************-->
<main id="" class="tg-main tg-haslayout">
  <!--************************************
      Speakers Start
  *************************************-->
  <section id="tg-committees" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="tg-section-committee">
        <div class="tg-sectionheading">
          <h2>Meet the speakers</h2>
        </div>
        <div class="tg-description">
          <!-- <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamcoaris nisi ut aliquipa ex ea commodo consequat aute irure.</p> -->
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="tg-event">
              <div class="tg-eventhead">
                <div class="tg-leftarea">
                  <div class="tg-title">
                    <h2>Prof. Mario Paolucci</h2>
                  </div>
                </div>
              </div>
              <div class="tg-description">
                <p>
                  PhD in Telematics and Information Society (2005), is the co-director of the Laboratory of Agent Based Social Simulation (LABSS) within the Institute of Cognitive Sciences and Technologies at the Italian National Research Council (ISTC-CNR). He has worked as Technology Expert at the National Statistics Institute of Italy from 1996 to 2003, and as researcher at CNR from 2003. He is studying and applying multiagent-based social simulation and agent theory to understand social artifacts, in particular Reputation, Norms, Responsibility, and the cultural evolutionary mechanisms that support them. His publications include a book on reputation with Rosaria Conte and articles on JASSS and Adaptive Behavior, the International Journal of Cooperative Information Systems, the International Journal of Approximated Reasoning. He has been the coordinator of the CNR workgroup on Artificial Societies and Social Simulation (ICT.P11.014) from 2009 to 2016. Since 2017 he is the coordinator of the CNR project “Cognitive Agents and Social Simulation” (DUS.AD018.003). He is the coordinator of the FuturICT 2.0 project, and he has been the scientific coordinator of the eRep Social Knowledge for e-Governance FP6 project, managing four international partners.
                </p>
                <h4>Reputation: lessons from cognitive modeling</h4>
                <p>Uncertainty, with the two aspects of opportunity and risk, permeates
                  human experience. We have found ways of navigate this uncertain world,
                  exploring opportunities and limiting risk. One of them is through the
                  use of reputation.
                </p>
                <p>Agents can learn by doing, so very often they make a decision on the
                  base of own experience. However, this is feasible only if the risk of
                  making the wrong decision is negligible and/or if the nature of
                  choices is not too diverse. Instead, when faced with a new context, a
                  decision can be made on the base of information and not on experience
                  only.
                </p>
                <p>With information, another order of problems appears. How can an agent
                  make sure that information reflects some ground truth? We present a
                  cognitive theory of the transmission of identifiable evaluative
                  information, that we call image, and of evaluations with indefinite
                  authorship - that we call reputation proper. The application of these
                  categories allows to forecast some characteristics of the information
                  transmission for evaluative information. We present the case of
                  anonymous information and discuss the application of this theory to
                  agents.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="tg-event">
              <div class="tg-eventhead">
                <div class="tg-leftarea">
                  <div class="tg-title">
                    <h2>Prof. Vasco Furtado</h2>
                  </div>
                </div>
              </div>
              <div class="tg-description">
                <p>
                  É atualmente Diretor de Pesquisa e Inovação da Universidade de Fortaleza onde leciona há mais de 25 anos. Ele fez seu doutorado (1997) na Universidade de Aix-Marseille III, França e pós-doutorado (2007) no Laboratório de Sistemas de Conhecimento em Stanford, Califórnia, EUA. Furtado já escreveu mais de 150 artigos científicos em computação com ênfase em Inteligência Artificial, atuando principalmente nos seguintes temas: simulação multiagente, web semântica, aprendizagem automática e mineração de dados. Tem aplicado suas pesquisas na área de Segurança Pública e Cidades Inteligentes. Além da experiência acadêmica tem vasta experiência no setor público onde atuou como Diretor de Tecnologia da Secretaria de Segurança Pública do Estado do Ceará (1997-2004) e, mais recentemente (2013-2016), como vice-presidente e depois presidente da Fundação de Ciência, Tecnologia e Inovação de Fortaleza (CITINOVA). É ainda assessor para inovação da Prefeitura de Fortaleza e membro do Fórum Brasileiro de Segurança Pública. 
                </p>
                <h4>Palestra: Simulações Sociais Multiagentes: Aplicações na Segurança Pública</h4>
                <p>A compreensão de fenômenos sociais requer ferramentas apropriadas e capazes de capturar, representar e explorar as diversas facetas inerentes a sistemas complexos. Simulação multiagentes configura-se como uma dessas ferramentas seja para validar teorias pré-estabelecidas como para prospectar novas teorias. Esse tipo de simulação se caracteriza pela modelagem de agentes que, ao interagirem entre si e com o ambiente, são capazes  de fazer emergir um comportamento específico não trivial. Nesta apresentação vou discorrer sobre o tema e pretendo dar exemplos de como simulações multiagentes podem apoiar à compreensão de fenômenos sociais. Em especial, me concentrarei em mostrar algumas das pesquisas que venho desenvolvendo ao longo dos últimos anos no contexto da segurança pública e criminalidade. Serão dados exemplos relacionados a importantes teorias sobre a criminalidade bem sobre como simulações multiagentes podem apoiar atividades de treinamento de policiais,  alocação da polícia ostensiva e despacho de viaturas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="tg-event">
              <div class="tg-eventhead">
                <div class="tg-leftarea">
                  <div class="tg-title">
                    <h2>Prof. Saulo Popov Zambiasi</h2>
                  </div>
                </div>
              </div>
              <div class="tg-description">
                <p>
                  Possui graduação em Ciência da Computação pela Universidade do Oeste de Santa Catarina - Campus de Chapecó (1998), mestrado em Ciências da Computação pela Universidade Federal de Santa Catarina (2002) e doutorado em Engenharia de Automação e Sistemas pela Universidade Federal de Santa Catarina (2012). Atualmente é pesquisador da Universidade Federal de Santa Catarina e professor titular da Universidade do Sul de Santa Catarina. Tem experiência na área de Ciência da Computação, com ênfase em Jogos Digitais, atuando principalmente nos seguintes temas: sistemas multi-agentes, inteligência artificial distribuída e inteligência artificial. 
                </p>
                <span>Short course</span>
                <h4>Desenvolvimento de Jogos Digitais com Godot Engine</h4>
                <p>Atualmente existem diversas linguagens, bibliotecas e ferramentas para o desenvolvimento de jogos digitais. Os motores de jogos, ou game engine, por exemplo, são ferramentas que consistem de um programa de computador e/ou conjunto de bibliotecas que já trazem implementados diversos recursos, permitindo abstrair, facilitar e agilizar a criação de um jogo digital. Um motor de jogo bastante conhecido, de código aberto e sob licença MIT, é o Godot Engine. Essa ferramenta, atualmente na versão 3, possui uma interface amigável e com um bom nível de maturidade para a construção visual do jogo (2D e 3D) e criação de scripts. Ela pode gerar executáveis para Microsoft Windows, Mac OS X, Linux, Android, iOS e outros. No minicurso será apresentada a ferramenta, seus recursos básicos e um passo a passo da criação de um jogo simples.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="tg-event">
              <div class="tg-eventhead">
                <div class="tg-leftarea">
                  <div class="tg-title">
                    <h2>Prof. Jaime Sichman</h2>
                  </div>
                </div>
              </div>
              <div class="tg-description">
                <p>
                  Jaime Simão Sichman obteve seus títulos de Bacharel e Mestre em Engenharia Elétrica pela Universidade de São Paulo. Foi um dos primeiros alunos a obter um Selo Europeu associado ao seu Doutorado em Engenharia de Computação, desenvolvido no Institut National Polytechnique de Grenoble (INPG), França, já que parte de seu trabalho de pesquisa foi realizado no Istituto di Psicologia del CNR, Roma, Itália. Realizou um breve período de Pós-Doutorado na University of Utrecht, Holanda. Seu principal interesse de pesquisa são os sistemas multiagentes, mais particularmente em temas como raciocínio social, organizacional, simulação baseada em agentes, reputação, confiança e interoperabilidade em sistemas baseados em agentes. Já orientou e co-orientou 14 alunos de Mestrado, 12 alunos de Doutorado e vários alunos de Iniciação Científica. Juntamente com diversos outros colegas, foi um dos criadores de duas sub-áreas de pesquisa em sistemas multi-agentes, denominadas respectivamente de Multi-Agent-Based Simulation (MABS) e de Coordination, Organization, Institutions and Norms in Agent Systems (COIN), que originaram uma série de workshops internacionais desde 1998. Publicou mais de 160 artigos em conferências e periódicos nacionais e internacionais. É membro do Comitê Editorial do Journal of Artificial Societies and Social Simulation (JASSS), Mediterranean Journal of Artificial Intelligence, Computación y Sistemas, Revista Iberoamericana de Inteligencia Artificial, Knowledge Engineering Review e International Journal on Agent-Oriented Software Engineering (IJAOSE). Organizou vários workshops e conferências nacionais e internacionais; em particular, foi o Tutorial Chair do AAMAS 2007, um dos Program Co-Chairs do AAMAS 2009, o General Chair do WCSS 2014 e o Local Organization Chair do AAMAS 2017. No Brasil, foi o General Chair do SBIA/IBERAMIA 2000, um dos Program Co-Chairs do SBIA/IBERAMIA 2006 e o Local Chair do WESAAC 2013. Foi membro do Conselho Deliberativo da Sociedade Brasileira de Computação (SBC) entre 2005 e 2009, além de ter sido coordenador da Comissão Especial em Inteligência Artificiial (CEIA) entre 2000 e 2002. Ocupou, entre 2010 e 2013, a direção do Centro de Computação Eletrônica (CCE) da Universidade de São Paulo (USP). Foi indicado como Distinguished Speaker pela Association for Computing Machinery (ACM) em 2012. Atualmente é Professor Associado 3 do Departamento de Engenharia de Computação e Sistemas Digitais (PCS) da Escola Politécnica (EP) da Universidade de São Paulo (USP).
                </p>
                <span>Short course</span>
                <h4>Multi-Agent Oriented Programming</h4>
                <p>
                  We propose an advanced tutorial for students with some familiarity on programming multi-agent systems, focusing on three complementary dimensions: agent-oriented programming, organisation-oriented programming, and environment-oriented programming. The tutorial will combine state-of-the-art technologies and platforms for each of these levels of multi-agent programming, stressing on their integration. In particular, we will illustrate our approach by using the JaCaMo framework, which integrates three separate technologies: Jason, Moise, and Cartago. These technologies are quite well known in the MAS community, and since they have already been developed for a certain number of years, they are fairly robust and fully-fledged. They will be used as examples of platforms for programming each MAS dimension. The tutorial will introduce the relevant techniques to use and integrate these technologies, providing an integrated scenario that will illustrate their usage and integration.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Speakers End
  *************************************-->
  <!--************************************
      Brands Start
  *************************************-->
  <section id="tg-sponsers" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="tg-brands">
            <li class="tg-brand">
              <figure><a href="http://uece.br" target="_blank"><img src="images/brands/uece.png" alt="image description"></a></figure>
            </li>
            <li class="tg-brand">
              <figure><a href="http://ufsc.br/" target="_blank"><img src="images/brands/ufsc.png" alt="image description"></a></figure>
            </li>
            <li class="tg-brand">
              <figure><a href="https://unifor.br" target="_blank"><img src="images/brands/unifor2.png" alt="image description"></a></figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Brands End
  *************************************-->
</main>
<!--************************************
    Main End
*************************************-->
