<!--************************************
    Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
  <div class="container">
    <div class="row">
      <div id="tg-content" class="tg-content">
        <div class="tg-404error">
          <div class="col-sm-offset-3 col-sm-6 col-xs-offset-0 col-xs-12">
            <div class="tg-404ontent">
              <figure class="tg-404img">
                <%= image_tag "500-img.jpg", alt: "Internal error icon" %>
              </figure>
              <h2>Oops!</h2>
              <div class="tg-description"><p>Something went wrong at our end.
                Don't worry, it's not you - it's us.</p>
              <p>Sorry about that.</p>
            <%= link_to "Homepage", root_path %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--************************************
    Main End
*************************************-->
