<!--************************************
    Footer Start
*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
  <!--************************************
      Bottom Bar Start
  *************************************-->
  <div class="tg-footerbar">
    <a id="tg-btnscrolltop" class="tg-btnscrolltop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
    <div class="container">
      <div class="row">
        <ul class="tg-socialicons pull-right">
          <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
          <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
          <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
          <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
          <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
        </ul>
        <p class="tg-copyrights pull-left">2017 All Rights Reserved | Developed by <a href="http://acensjr.com" target="_blank">Acens</a> </p>
      </div>
    </div>
  </div>
  <!--************************************
      Bottom Bar End
  *************************************-->
</footer>
<!--************************************
    Footer End
*************************************-->
